.App {
  display: grid;
  grid-template-columns: 100px auto;
}

.app__sidebar {
  background: #aaa;
  height: 100vh;
  padding: 0;
}

.app__sidebar h1 {
  padding: 10px;
}

.app__product {
  padding: 10px;
}

input,
select,
button {
  padding: 5px;
  margin: 5px;
  min-width: 200px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

input:focus {
  outline: none;
  box-shadow: 1px 1px 2px #aaa;
  border-color: lightseagreen;
}

label {
  display: block;
  margin: 5px;
  font-size: 18px;
}

button {
  background-color: lightblue;
  font-size: 18px;
  border: none;
}

button:hover {
  background: rgb(0, 125, 166);
  color: white;
  border-color: rgb(8, 78, 100);
  box-shadow: 1px 1px 2px lightblue;
}

table,
td,
th {
  border-collapse: collapse;
  border: 1px solid;
  padding: 10px;
}

.item {
  padding: 9px;
}

.item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.item:hover {
  background-color: gray;
}

.item:active {
  background-color: gray;
}