.App {
  display: grid;
  grid-template-columns: 100px auto;
}

.app__sidebar {
  /* position: sticky; */
  background: #aaa;
  height: 100vh;
  padding: 0;
}

.app__sidebar h1 {
  padding: 10px;
}

form {
  margin-left: 12px;
  margin-right: 12px;
}

input,
select,
button {
  padding: 5px;
  margin: 5px;
  min-width: 200px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

input:focus {
  outline: none;
  box-shadow: 1px 1px 2px #aaa;
  border-color: lightseagreen;
}

label {
  display: block;
  margin: 5px;
  font-size: 18px;
}

button {
  background-color: lightblue;
  font-size: 18px;
  border: none;
}

button:hover {
  background: rgb(0, 125, 166);
  color: white;
  border-color: rgb(8, 78, 100);
  box-shadow: 1px 1px 2px lightblue;
}

table,
td,
th {
  border-collapse: collapse;
  border: 1px solid;
  padding: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.item {
  padding: 9px;
  position: relative;
}



.item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.item:hover {
  background-color: gray;
}

.item a.active {
  font-weight: bold;
}

.app__Product-heading {
  padding: 10px;
  background-color: #ddd;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.item .sub-item {
  display: none;
  position: absolute;
  background-color: #aaa;
  color: white;
  left: 100px;
  top: 0px;
  /* left: 100px; */
  width: 200px; 
  bottom: auto;
  height: max-content;
  font-size: 18px; 
}

.item .sub-item div {
  padding: 12px;
}

.sub-item div:hover {
  font-weight: bold;
}

.item:hover .sub-item {
  display: block;
}